{
  "presets": ["@babel/env", "@babel/react"],
  "plugins": [
      ["@doctoright/babel-plugin-react-intl", {
          "messagesDir": "./translations",
          "optionalDefaultMessages": true,
      }]
    ]
}