.featured-announcement {
  display: block;
  width: 100%;
  text-align: center;
  padding: 1rem;
  padding-bottom: 0.8rem;
  text-decoration: none;
  background-color: #ebf9f6;
  font-weight: 500;
  border-bottom: 3px solid #c3eee3;
}